{% import fishroom.config %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/emojione/2.0.0/assets/css/emojione.min.css">
	{% block css %}
	{% end %}
</head>
<body>
	<div class="container">
	{% block content %}
	{% end %}
	</div>
	<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="//cdn.bootcss.com/emojione/2.0.0/lib/js/emojione.min.js"></script>
	{% block js %}
	{% end %}
</body>
</html>

{#
vim: ts=2 sts=2 sw=2 noexpandtab
#}
