<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fishroom-navbar-collapse" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<span class="navbar-brand">{{room}}</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="fishroom-navbar-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{date}} <span class="caret"></span></a>
				<ul class="dropdown-menu">
					{% for d in dates %}{% if d != date %}
					<li><a href="/log/{{room}}/{{d}}">{{d}}</a></li>
					{% end %}{% end %}
				</ul>
			</li>
		{% if len(rooms) > 1 %}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{room}} <span class="caret"></span></a>
				<ul class="dropdown-menu">
					{% for r in rooms %}{% if r != room %}
					<li><a href="/log/{{r}}/today">{{r}}</a></li>
					{% end %}{% end %}
				</ul>
			</li>
		{% end %}
		</ul>
	</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
{#
vim: ts=2 sts=2 sw=2 noexpandtab
#}
