ul#logs .nick-color-0 {
	color: #D73C2C;
}
ul#logs .nick-color-1 {
	color: #870000;
}
ul#logs .nick-color-2 {
	color: #ca2c68;
}
ul#logs .nick-color-3 {
	color: #fa5c98;
}
ul#logs .nick-color-4 {
	color: #7e349d;
}
ul#logs .nick-color-5 {
	color: #3e005d;
}
ul#logs .nick-color-6 {
	color: #0067b0;
}
ul#logs .nick-color-7 {
	color: #22A7F0;
}
ul#logs .nick-color-8 {
	color: #009b90;
}
ul#logs .nick-color-9 {
	color: #106b60;
}
ul#logs .nick-color-10 {
	color: #106b60;
}
ul#logs .nick-color-11 {
	color: #006c11;
}
ul#logs .nick-color-12 {
	color: #f9b32f;
}
ul#logs .nick-color-13 {
	color: #e67e22;
}
ul#logs .nick-color-14 {
	color: #5c6a79;
}
ul#logs .nick-color-15 {
	color: #2c3a49;
}
