{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span> {{title}} </span>
				<span class="pull-right hidden-xs"> {{time}}</span>
				<span class="visible-xs"> {{time}}</span>
			</div>
			<div class="panel-body" id="text-content">
					{{content}}
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>

{% end %}

{% block css %}
<style>
body {
	padding-top: 20px;
}
</style>
{% end %}

{% block js %}
<script>
$(document).ready(function() {
	$("#text-content").html(
			emojione.toImage($("#text-content").text())
	);
});
</script>
{% end %}

{#
vim: ts=2 sts=2 sw=2 noexpandtab
#}
