config = {
    'debug': True,
    'timezone': 'Asia/Shanghai',
    'baseurl': '',  # change this if your app is not located at '/'
    'name': 'teleboto',

    'redis': {
        "host": "127.0.0.1",
        "port": 6379,
        "prefix": "fishroom",
    },

    'irc': {
        'server': 'irc.freenode.net',
        'port': 6697,
        'nick': 'XiaoT',
        'ssl': True,
        'blacklist': [
            '[Olaf]',
        ],
    },

    'telegram': {
        'token': '',  # get this from @BotFather
        'server': "127.0.0.1",
        'port': 27219,
        'me': [],  # token_id and tg user id
    },

    'xmpp': {
        'server': 'xmpp.jp',
        'port': 5222,
        'jid': 'user@xmpp.jp/resource',
        'password': '',
        'nick': 'XiaoT',
    },

    'photo_store': {
        # set one in ("imgur", "vim-cn")
        'provider': "vim-cn",
        'options': {
            'client_id': "",
        }
    },

    'text_store': {
        'provider': 'vinergy',
        'options': {
        },
    },

    'plugins': [
        'pia', 'imglink', 'vote'
    ],

    'bindings': {
        "archlinux-cn": {
            "irc": '#archlinux-cn',
            "telegram": 'chat#12889958',
            "xmpp": 'chat@conference.xmpp.jp'
        }
    }
}

# vim: ft=python
