config = {
    'debug': True,
    'timezone': 'Asia/Shanghai',
    'baseurl': 'http://fishroom.example.com',  # do not end with "/"
    'name': 'teleboto',
    'cmd_me': 'tg_bot',  # username of the telegram bot

    'redis': {
        "host": "redis-host",  # hostname for redis servere
        "port": 6379,
        "prefix": "fishroom",
    },

    'irc': {
        'server': 'irc.freenode.net',
        'port': 6697,
        'nick': 'XiaoT',       # IRC nick name
        'ssl': True,
        'blacklist': [
            '[Olaf]',
        ],
    },

    # Uncomment these if you want telegram access
    # 'telegram': {
    #     'token': '',  # get this from @BotFather
    #     'me': None,
    #     'admin': [],  # admin id (integer)
    # },

    # Uncomment these if you want XMPP-MUC access
    # 'xmpp': {
    #     'server': 'xmpp.jp',
    #     'port': 5222,
    #     'jid': 'user@xmpp.jp/resource',
    #     'password': '',
    #     'nick': 'XiaoT',
    # },

    # Uncomment these if you want gitter access
    # 'gitter': {
    #     'token': '',
    #     'me': '',  # bot username
    # },

    # Optional, only if you use qiniu for file_store
    # Comment this out if you don't use qiniu
    'qiniu': {
        'access_key': '',
        'secret_key': '',
        'bucket': '',
        'base_url': '',
    },

    'photo_store': {
        # set one in ("imgur", "vim-cn", "qiniu")
        'provider': "vim-cn",
        'options': {
            'client_id': "",
        }
    },

    # this is the web interface
    'chatlog': {
        'port': 8000,
        'default_channel': 'teleboto-dev',
    },

    # Comment this out if you don't use qiniu
    'file_store': {
        'provider': "qiniu",
    },

    'text_store': {
        'provider': 'vinergy',
        'options': {
        },
    },

    'plugins': [
        'pia', 'imglink', 'vote', 'hualao'
    ],

    'bindings': {
        "archlinux-cn": {
            "irc": '#archlinux-cn',
            "telegram": "-1001031857103",  # group id can be obtained using bot api
            "xmpp": 'chat@conference.xmpp.jp'
        }
    }
}

# vim: ft=python
